@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables.scss';

*{
  color: $shade-30;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif
}
.table{
  th{
    background: $shade-94;
    font-weight: 100;
  }
}