@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "variables.scss";
@import "elements.scss";

* {
  color: $shade-30;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.full-width {
  width: 100%;
}

.table {
  background: #ffffff;
  th {
    background: $shade-94;
    font-weight: 100;
  }

  tbody tr {
    cursor: pointer;

    & > td {
      border: none;
      border-bottom: 1px solid $shade-90;
    }
  }
}

.no-padding {
  padding: 0;
}
.wrapper {
  min-height: 100vh;
}

.wrapper.index {
  background: $shade-94;
}

.wrapper.sidebar {
  background: #ffffff;
  border-right: 1px solid $shade-90;

  ul {
    padding: 0;

    li {
      list-style: none;
      padding: 10px 20px;

      &.active {
        background: $shade-90;
        cursor: pointer;
      }

      &:hover:not(.active) {
        background: $shade-94;
        cursor: pointer;
      }
    }
  }
}

.wrapper.panel {
  position: fixed;
  z-index: 4;
  width: 50%;
  right: 0;
  top: 0;
  border-left: 1px solid $shade-90;
  color: $shade-60;
  .panel-header {
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid $shade-90;
  }
}

.detail-panel {
  position: fixed;
  z-index: 2;
  height: 65vh;
  bottom: 0;
  background: #ffffff;
  border-top: 3px solid $blue;

  .panel-header {
    border-bottom: 1px solid $shade-90;
    line-height: 40px;
  }

  .panel-content {
    height: 100%;

    .detail-info {
      height: 100%;
      border-right: 1px solid $shade-90;
      padding: 0 3%;
      overflow-y: scroll;

      & > .row {
        padding-top: 30px;
      }
    }

    .detail-comments {
      height: 100%;
      background: $shade-94;
    }

    .legend {
      color: $shade-40;
      font-size: 0.9em;
    }
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: pointer;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

a.cancel-panel-link {
  font-size: 0.8em;

  &:hover {
    text-decoration: none;
    color: $shadow-red;
  }
}

.comment-list {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 150px;

  .comment-item {
    margin-top: 20px;
    background: #ffffff;
    padding: 10px;
    font-size: 0.8em;

    .comment-info {
      color: $shade-60;
      margin-top: 10px;
    }
  }
}
.new-comment {
  position: absolute;
  bottom: 40px;
  height: 80px;
  width: 100%;
  background: #ffffff;
  border-top: 1px solid $shade-90;
  padding-top: 5px;

  textarea {
    width: 100%;
    border: 0;
    outline: none;
    height: 40px;
  }

  a:hover {
    text-decoration: none;
  }
}

.report-info-actions {
  margin-bottom: 80px;
}

.header {
  padding: 10px;
  background: #ffffff;
}

.header-user-name {
  line-height: 35px;
  margin-right: 20px;
}

//////////////////////////

.user-screen {
  text-align: center;
  margin-top: 50px;

  .panel-user-screen {
    border-radius: 5px;
    border: 1px solid $shade-94;
    box-shadow: 0 0 30px $shade-90;

    .header-login-panel {
      @extend .chance-gradient;
      padding: 15px;
    }

    .form-login-panel {
      padding-top: 30px;
      text-align: left;

      label {
        color: $shade-60;
        font-weight: 100;
      }

      .login-submit-button {
        width: 100%;
        padding: 15px;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.2em;

        @extend .chance-gradient;
      }
    }
  }
}

.login-panel-button:first-child {
  margin-right: 15px;
}
.login-panel-button:last-child {
  margin-left: 15px;
}

.login-panel-button.inactive {
  @extend .white-text;
}

.login-panel-button.active {
  @extend .btn, .btn-white, .chance-red-text;

  &:hover {
    text-decoration: none;
    @extend .shadow-red-text;
  }
}
